<form action="/actualizar" method="post">
  <fieldset>
    <legend>Atualizar Utilizador</legend>
    <input type="hidden" name="_method" value="put" />
    <label for="nome_form">Nome</label>
    <input type="text" name="nome" id="nome_form" />
    <br />
    <label for="email_form">Email</label>
    <input type="email" name="email" id="email_form" />
    <br />
    <label for="senha_form">Senha</label>
    <input type="password" name="senha" id="senha_form" />
    <button type="submit">Editar</button>
  </fieldset>
</form>

  